.contact-page {
  padding: 80px 30px;
  background-color: #FFFFFB;
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
}

.contact-title {
  font-size: 2.8rem;
  color: #36795A;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-intro {
  font-size: 1.1rem;
  color: #646538;
  margin-bottom: 50px;
  line-height: 1.8;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form select,
.contact-form input[type="file"] {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #828356;
  font-size: 1rem;
  font-family: inherit;
  background-color: #F0F0E0;
}

.contact-form textarea {
  resize: none;
}

.contact-form input[type="file"] {
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  display: block;
  margin: 0 auto; 
  background-color: #36795A;
  color: #FFFFFB;
  border: none;
  max-width: 200px;
  max-height: 60px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #eeeeed;
  color: #36795A;
}

.radio-group {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  margin-top: 10px;
}

.newsletter-checkbox {
  margin-top: 10px;
}

.radio-group label,
.newsletter-checkbox {
  color: #828356;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}