.guide-page {
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-page > * {
    width: 100%;
    max-width: 1080px;
}

.guide-page p,
.guide-page ul,
.guide-page li,
.guide-page .guide-description,
.guide-page .qa-block {
    margin-top: 12px;
    margin-bottom: 20px;
    line-height: 1.8;
    color: #828356;
}

.section-divider {
    border: none;
    border-top: 1px dashed #36795A;
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 50px;
}

.section-Guide {
    padding-bottom: 60px;
}

.guide-image {
    width: 80px;
    height: auto;
}

.guide-header {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color:#646547;
    line-height: 1.9;
    margin-top: 30px;
    margin-bottom: 150px;
}

.emotion-icon {
    width: 160px;
    height: auto;
    margin-left: 20px;
    align-self: flex-start;
    order: 2;
}

.guide-title {
    font-size: 3.2rem;
    font-weight: 500;
    padding-bottom: 20px;
    color: #36795A;
    margin: 0;
    flex: 1;
    order: 1;
}

.guide-subtitle {
    color: #646547;
    font-size: 2.1rem;
    font-weight: 600;
    margin: 40px 0;
}

.guide-description {
    font-size: 1.4rem;
    line-height: 1.8;
    margin: 20px 0;
    color: #646547;
}

.guide-description > strong {
    display: block;
    margin-bottom: 20px;
}

.dot-list {
    font-size: 1.1rem;
    padding-left: 1em;
    padding-bottom: 100px;
    list-style: none;
    margin: 0;
    color: #828356;
    width: 90%;
    max-width: 950px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

ul.dot-list li::before {
    content: "·";
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-right: 0.5em;
}

.flow-steps-centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0 60px 0;
    padding-top: 60px;
}

.step-circle {
    background-color: #36795A;
    color: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-line;
}

.step-arrow {
    font-size: 1.8rem;
    color: #5e5e5e;
    align-self: center;
}

.question {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #646547;
}

.qa-block {
    margin: 30px 0 20px 0;
    font-size: 1.05rem;
    line-height: 1.8;
}

.qa-block p {
    margin-bottom: 8px;
}

.faq-item {
  padding: 20px 10px;
  border-bottom: 1px solid #CFCFCF;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  color: #646547;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: color 0.2s ease;
}

.faq-question:hover {
  color: #828356;
}

.arrow-icon {
  margin-right: 10px;
  font-size: 1.1rem;
  color: #36795A;
}

.faq-answer-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.faq-answer-wrapper.open {
  max-height: 500px;
  opacity: 1;
}

.faq-answer-wrapper.closing {
  max-height: 0;
  opacity: 0;
}

.faq-answer {
  color: #828356;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 10px;
}


.page-line-guide {
  position: relative;
  width: 100vw;
  left: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6faea;
  padding-top: 30px;
  padding-bottom: 60px;
  box-sizing: border-box;
  color: #36795A;
}

.page-line-guide .line {
  flex: 0.46;
  border-top: 1.5px dashed #646547;
  height: 1.6px;
  margin: 0 30px; /* 텍스트와 선 사이 여백 */
}

.page-line-guide .star {
  font-size: 1.8rem;
  white-space: nowrap;
}