.guide-page {
    padding: 100px 30px;
    background-color: #FFFFFB;
    font-family: "Instrument Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-page > * {
    width: 100%;
    max-width: 1080px;
}

.guide-page p,
.guide-page ul,
.guide-page li,
.guide-page .guide-description,
.guide-page .qa-block {
    margin-top: 12px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.section-Guide {
    padding-bottom: 60px;
}

.guide-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    width: 100%;
    margin-bottom: 30px;
}

.emotion-icon {
    width: 160px;
    height: auto;
    margin-left: 20px;
    align-self: flex-start;
    order: 2;
}

.guide-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #36795A;
    margin: 0;
    flex: 1;
    order: 1;
}

.guide-description {
    font-size: 1.3rem;
    line-height: 1.8;
    margin: 20px 0;
    color: #646547;
}

.guide-description > strong {
    display: block;
    margin-bottom: 20px;
}

ul.dot-list {
    padding-left: 1.05em;
    list-style: none;
    margin: 0;
    color: #828356;
}

ul.dot-list li {
    font-size: 1.1rem;
    position: relative;
    padding-left: 1em;
    margin-bottom: 10px;
    color: #828356;
}

ul.dot-list li::before {
    content: "·";
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-right: 0.5em;
}

.flow-steps-centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0 60px 0;
    padding-top: 60px;
}

.step-circle {
    background-color: #36795A;
    color: white;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-line;
}

.step-arrow {
    font-size: 1.8rem;
    color: #5e5e5e;
    align-self: center;
}

.question {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #646547;
}

.qa-block {
    margin: 30px 0 20px 0;
    font-size: 1.05rem;
    line-height: 1.8;
}

.qa-block p {
    margin-bottom: 8px;
}

.faq-item {
  padding: 20px 10px;
  border-bottom: 1px solid #DADACC;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  color: #646547;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: color 0.2s ease;
}

.faq-question:hover {
  color: #828356;
}

.arrow-icon {
  margin-right: 10px;
  font-size: 1.1rem;
  color: #36795A;
}

.faq-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s linear;
}

.faq-answer-wrapper.open {
  max-height: 150px;
  opacity: 1;
}

.faq-answer {
  color: #828356;
  font-size: 1rem;
  line-height: 1.7;
  margin-top: 10px;
}