/* Loading.css */

.loading-main {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6faea;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.loading-tree {
  width: 500px; /* 기존 250px에서 500px로 크기 두 배 증가 */
  height: auto;
  margin-bottom: 2rem;
  animation: pulse 2s infinite ease-in-out;
}

.loading-text {
  color: #3a6b3a;
  font-weight: 600;
  font-family: "Koulen", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.7px;
}

/* 나무 이미지 부드럽게 맥동하는 애니메이션 */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}