.Page-Design {
  padding: 40px 80px;
  background-color: #FFFFFB;
  font-family: "Instrument Sans", sans-serif;
}

.section1 {
  padding-bottom: 300px;
}

.section2 {
  text-align: center;
  position: relative;
  padding-bottom: 300px;
}

.title1 {
  font-size: 4rem;
  font-weight: 700;
  color: #36795A;
  letter-spacing: 2px;
}

.title2 {
  font-size: 4rem;
  font-weight: 700;
  color: #36795A;
}

.sub-title {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #F0F0E0;
  color: #36795A;
  padding: 7px 70px;
  border-radius: 50px;
  display: inline-block;
}

.article {
  font-size: 1.2rem;
  color: #828356;
  padding-top: 15px;
  padding-bottom: 5px;
  line-height: 35px;
}

.space {
  padding-bottom: 100px;
}

.text-input {
  background-color: #F0F0E0;
  border-radius: 20px;
  border: none;
  padding: 30px 20px;
  width: 85%;
  height: 230px;
  font-size: 1rem;
  color: #333;
  resize: none;
  outline: none;
  box-shadow: 0 8px 0px rgba(218, 218, 204, 0.4);
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
  color: #36795A;
  font-weight: 600;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #36795A;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}