/*페이지 구성*/
.Page-Design {
  padding: 50px 120px 0;
}

.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 250px;
  flex-wrap: nowrap;
}

.title-bracket {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bracket {
  height: 200px;
  width: auto;
}

.section0 {
  font-family: 'Montserrat', sans-serif;
  color:#36795A;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 200px;
  gap: 20px;
}

.section1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: #f6faea;
  padding: 80px 170px 100px;
  box-sizing: border-box;
  overflow: hidden;
}

.section3 {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: #f6faea;
  padding: 0px 170px 100px;
  box-sizing: border-box;
  z-index: 0;
}

.section4 {
  background-color: #dadac0;
  color:#36795A;
  text-align: center;
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  gap:20px;
  padding-top: 60px;
  padding-bottom:60px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  box-sizing: border-box;
  flex-direction: column;
  min-height: calc(100vh + 1px); /* 살짝 더 늘려 끊기는 현상 방지 */
  position: relative;
  z-index: 1;
}

.gradient-transition-start {
  height: 150px;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  background: linear-gradient( #f6faea, #EAEDD2);
}

.gradient-transition-last {
  height: 150px;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  background: linear-gradient(#EAEDD2, #f6faea);
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.content-wrapper-boxs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
}

.space {
  padding-top: 30px;
}

.title-right {
  text-align: right;
  padding-right: 210px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 380px;
  margin-top: 20px;
  gap: 40px;
}


/*텍스트*/
.main-text-title {
  white-space: pre;
  text-align: center;
  word-break: normal;
  overflow-wrap: normal;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.main-text-article {
  text-transform: none;
  color: #646547;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 40px;
  line-height: 2;
}

.text-content {
  padding-top: 10px;
  max-width:1000px;
}

.title1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: #36795A;
  text-align: center;
}

.title3 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #646547;
  text-align: center;
}

.title4 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #646547;
}

.sub-title {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #d7d7b3;
  color: #646547;
  padding: 7px 170px;
  border-radius: 50px;
  display: inline-block;
}

.article {
  font-size: 1.1rem;
  color: #828356;
  padding-top: 25px;
  line-height: 35px;
}

.main-functions-box p {
  font-size: 1.4rem;
  text-align: left;
  font-weight: 600;
  color: #646547;
}

.functions-number{
  font-size: 2rem;
}

.main-functions-text {
  font-size: 1rem;
  text-align: left;
  padding-bottom: 40px;
  padding-right: 10px;
  color: #828356;
}

.functions-text h2 {
  flex: 1;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #646547;
}

.function-title {
  flex: 1;
  font-size: 1.8rem;
  margin-bottom: 6px;
  color: #646547;
}

.functions-text .function-desc {
  flex: 1;
  font-size: 1.3rem;
  font-weight: 400;
  color: #828356;
  line-height: 1.5;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 700px;   
}

.emotion-result {
  font-size: 1.2rem;
}


/*이미지 및 텍스트 상자*/
.side-image {
  position: absolute;
  top: 40%; /* 세로 가운데 정렬 */
  transform: translateX(-255%);
  width: 270px; /* 이미지 크기 조절 */
  height: auto;
  pointer-events: none; /* 이미지가 클릭 이벤트를 방해하지 않게 */
  user-select: none;
  z-index: 10; /* 텍스트 위로 올라오도록 */
  opacity: 40%;
}

.side-image2 {
  position: absolute;
  top: 65%;
  transform: translateX(-235%);
  width: 260px;
  height: auto;
  pointer-events: none;
  user-select: none;
  z-index: 10;
  opacity: 80%;
}

.side-image3 {
  position: absolute;
  top: 45%;
  transform: translateX(120%);
  width: 320px;
  height: auto;
  pointer-events: none;
  user-select: none;
  z-index: 10;
  opacity: 60%;
}

.main-functions-box {
  position: relative;
  font-size: 1.2rem;
  background-color: #dadac0;
  padding: 40px;
  padding-bottom: 190px;
  border-radius: 20px;
  width: 80%;
  box-sizing: border-box;
}

.functions-box {
  position: relative;
  background-color: #e8e8c5;
  border-radius: 30px;
  width: 1000px;
  flex-shrink: 0;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 50px;
  padding-bottom: 90px;
  gap: 30px;
}

.activity-image {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 80px;
  height: auto;
  z-index: 1;
}

.functions-image {
  position: absolute;
  bottom: 40px;
  right: 50px;
  margin: 0;
  flex-shrink: 0;
}

.functions-Images {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.arrow {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #646547;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

.text-input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #333;
  resize: none;
  outline: none;
  box-shadow: none;
}

.emotion-box {
  background-color: #F0F0E0;
  border-radius: 20px;
  padding: 30px 20px;
  width: 100%;
  max-width: 1110px;
  height: 230px;
  box-shadow: 0 5px 0px rgba(218, 218, 204, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-line;
  margin: 0 auto;
  box-sizing: border-box;
}


/*슬라이더*/
.slider-indicators {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 80px;
}

.indicator-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #b1b1b1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator-dot.active {
  background-color: #828356; /* 갈색으로 활성화 표시 */
}


/*애니메이션*/
.slider-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: fit-content;
  gap: 20px;
}

.loading-container {
  text-align: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #36795A;
  font-weight: 600;
}

.loading-container p {
  font-size: 1.2rem;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #36795A;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*줄선*/
.title-line {
  width: calc(100vw - 240px);
  margin-left: -120px;
  margin-right: -120px;
  border-top: 4px dashed #36795A;
  position: relative;
  height: 0;
}

.left-line {
  margin-right: 10px;
}

.right-line {
  margin-left: 10px;
}

.page-line {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  background-color: #f6faea;
  padding: 200px 170px 30px;
  letter-spacing: 10px;
  box-sizing: border-box;
  color:#36795A;
  justify-content: center;
}

.page-line .line {
  flex: 0.46;
  border-top: 1.5px dashed #646547;
  height: 1.6px;
  margin: 0 30px; /* 텍스트와 선 사이 여백 */
}

.page-line .star {
  font-size: 1.8rem;
  white-space: nowrap;
}