.musicContainer {
  padding: 50px 120px;
  padding-bottom: 120px;
  background-color: #f6faea;
}

/*  해당 디자인은 사용하지 않는 것 같아서 일단 주석처리합니다.
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #1e1e1e;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.login {
  background-color: #1e1e1e;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
*/

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
}

.earphones {
  filter: sepia(60%) hue-rotate(10deg) saturate(120%);
  height: auto;
  width: 640px;
}

/* 음악 추천 버튼 색상 초록색으로 변경 */
.recommendButton {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #36795A;
  color: #FFFFFB;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

/*버튼 요소*/
.recommendButton:hover {
  background-color: #eeeeed;
  color: #36795A;
}

.recommendButton::after {
  content: " ➔";
  margin-left: 8px;
}

.recommendButton.no-arrow {
  justify-content: center;
}

.recommendButton.no-arrow::after {
  content: "";
  margin-left: 0;
}

.description {
  font-size: 1.2rem;
  color: #828356;
  padding-top: 15px;
  padding-bottom: 5px;
  line-height: 35px;
}

.right {
  flex: 1;
  text-align: left;
}

/* 오른쪽 텍스트 색상 초록색으로 변경 */
.right h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #36795A;
}

/* 오른쪽 텍스트 색상 초록색으로 변경 */
.right h2 {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #e3e3cb;
  color: #646547;
  padding: 7px 90px;
  border-radius: 50px;
  display: inline-block;
}

.right .description {
  font-size: 1.1rem;
}
