.Page-Design-MyMood {
  display:flex;
  padding: 80px 80px;
  gap: 50px;
  font-family: "Instrument Sans", sans-serif;
}

.sidebar {
  width: 250px;
  height: 700px;
  background: #e3e3cb;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.username {
  font-weight: 700;
  font-size: 1.4rem;
  color: #4F5034;
  margin-bottom: 5px;
}

.today-emotion {
  border-top: 1px solid #c4c4b5;
  padding-top: 40px;
  margin-top: 60px;
  text-align: center;
}

.today-emotion .label {
  color: #36795A;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 10px;
  margin-bottom: 10px;

}

.today-emotion .emoji {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.today-emotion .date {
  margin-top: 5px;
  font-size: 0.95rem;
  color: #828356;
  margin-bottom: 15px;
}

.button {
  margin-top: 20px;
  background: #36795A;
  color: #FFFFFB;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.content {
  flex: 1;
  padding: 0 40px;
}

.page-title {
  font-size: 2.2rem;
  color: #36795A;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  gap: 60px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.tab {
  cursor: pointer;
  padding-bottom: 5px;
  color: #4F5034;
}

.tab.active {
  border-bottom: 3px solid #36795A;
  font-weight: bold;
  color: #36795A;
}

.tab-content {
  margin-top: 70px;
}

.music-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px; /*카테고리 크기 조정*/
  gap: 30px;
  border-bottom: 1px solid #DADACC;
  padding-bottom: 40px; /*카테고리 크기 조정*/
}

.music-img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  border-radius: 15px;
}

.music-info {
  flex: 1;
}

.music-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #4F5034;
  margin-bottom: 5px;
}

.music-item:last-child {
  border-bottom: none;
}

.music-artist {
  font-size: 1rem;
  color: #646538;
}

.listen-btn {
  background: #36795A;
  color: #FFFFFB;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}
