body {
  background-color: #f6faea;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-primary {
  margin-top: 30px;
  padding: 12px 30px;
  background-color: #36795A;
  color: #FFFFFB;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.button-primary:hover {
  background-color: #eeeeed;
  color: #36795A;
}

.button-primary::after {
  content: " ➔";
  margin-left: 8px;
}

.button-primary.no-arrow {
  justify-content: center;
}

.button-primary.no-arrow::after {
  content: "";
  margin-left: 0;
}